* {
    margin: 0, 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, white 40%, lightgreen 85%, black 95%);
    font-family: sans-serif;
    color: aliceblue;
}

.main {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    padding: 50px;
    margin: auto;
    text-align: center;
    color:limegreen;
}

.box {
    width: 400px;
    height: 350px;
    padding: 50px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px 1px rgba(2, 1, 8, 0.2);
    background-color:black;
    border-radius: 0.5em;
    text-align: center;
    justify-content: center;
}

.btn {
    border: 2px;
    color: black;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border-radius: 0.5em;
}

.text-input {
    border-radius: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5em;
    width: 100%;
    height: 50px;
}

footer {
    width: 100%;
    height: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    color: black;
}
